/* 전체 페이지 스타일 */
.car-info-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.car-info-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 50px; /* Header 아래 공간 확보 */
  margin-bottom: 80px; /* Footer 위 공간 확보 */
}

/* 제목 스타일 */
.car-info-title h2 {
  margin-left: 20px;
  font-size: 40px;
  margin-bottom: 20px;
}

/* 콘텐츠 섹션 스타일 */
.car-info-content {
  display: flex;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  gap: 50px;
  margin-top: 50px;
}

.car-image {
  width: 1000px;
  height: auto;
  border-radius: 8px;
}

.car-specifications {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.car-info-p {
  font-size: 30px;
  font-weight: 500;
}

.car-info-ul {
  margin-top: 50px;
  font-size: 22px;
}

.car-specifications h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.car-specifications ul {
  list-style-type: none;
  padding: 0;
}

.car-specifications li {
  margin-bottom: 10px;
}
