/* main.css */

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.video-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 854px; /* 동영상 높이를 원하는 대로 조정하세요 */
  background-color: #000;
  overflow: hidden;
}

.background-video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 동영상이 섹션을 꽉 채우도록 설정 */
}
